.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;

  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 100px;
    padding: 10px;
    background-color: #131420;
    border-radius: 12px;
  }
}

.textGradient {
  font-size: 75px;
  margin: 10px;
  -webkit-background-clip: text !important;
  @media screen and (max-width: 840px) {
    font-size: 55px;
  }
}

.controls {
  padding: 20px;
  @media screen and (max-width: 840px) {
    padding: 20px 50px;
  }
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
}

.slider {
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff !important;
}

.directions {
  button {
    padding: 10px;
    background-color: #0f54b4;
    border: 0;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
  }
}

.animatedApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 100px;
    padding: 10px;
    background-color: #131420;
    border-radius: 12px;
  }
}

.textGradient {
  font-size: 75px;
  margin: 10px;
  -webkit-background-clip: text !important;
  @media screen and (max-width: 840px) {
    font-size: 55px;
  }
}

.controls {
  padding: 20px;
  @media screen and (max-width: 840px) {
    padding: 20px 50px;
  }
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
  .Icheckbox {
    display: flex;
    align-items: center;
  }
  .checkbox {
    margin: 5px 10px 0px 0px;
  }
}

.slider {
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff !important;
}
.copy {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directions {
  button {
    padding: 10px;
    background-color: #464852;
    border: 0;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
  }
}
