.gradientButton {
  background-image: linear-gradient(80deg, #000000, #1a4fd8);
  background-size: 400% 400%;
  animation: gradientButton 10s ease infinite;
}

@keyframes gradientButton {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.gradientButtonDark {
  background-image: linear-gradient(80deg, #1a4fd8, #9000ff);
  background-size: 400% 400%;
  animation: gradientButton 10s ease infinite;
}

@keyframes gradientButtonDarl {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}