.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  @media only screen and (max-width: 1250px) {
    width: 100vw;
  }

  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 100px;
    padding: 10px;
    background-color: #438dfc;
    border-radius: 12px;
  }
}

.textGradient {
  font-size: 55px;
  -webkit-background-clip: text !important;
}

.controls {
  background-color: #438dfc;
  padding: 20px;
  @media screen and (max-width: 840px) {
    padding: 20px 50px;
  }
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
  }

  input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input[type='color']::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  input[type='color']::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }
}

.slider {
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff !important;
}
.cssCopy {
  background-color: #438dfc;
  padding: 20px;

  .textarea {
    width: 300px;
    height: 140px;
    background-color: #fff;
    color: #096ffe;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 12px;
  }
  button {
    background-color: #0f54b4;
    border: 0px;
    width: 300px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins';
  }
}
