.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f2f4f6;
  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 100px;
    padding: 10px;
    background-color: #131420;
    border-radius: 8px;
  }
}

.textGradient {
  font-size: 100px;
  margin: 10px;
  -webkit-background-clip: text !important;
  @media screen and (max-width: 840px) {
    font-size: 55px;
  }
}

.animated {
  font-size: 100px;
  margin: 10px;
  -webkit-background-clip: text !important;
  @media screen and (max-width: 840px) {
    font-size: 55px;
  }
  background-size: 300% !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
  @keyframes animated_text {
    0% {
      background-position: 0px 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0px 50%;
    }
  }
}

.controls {
  background-color: #131420;
  padding: 20px;
  @media screen and (max-width: 840px) {
    padding: 20px 50px;
  }
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }

  input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input[type='color']::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  input[type='color']::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }
  .Icheckbox {
    display: flex;
    align-items: center;
  }
  .checkbox {
    margin: 5px 10px 0px 0px;
  }
}

.slider {
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff !important;
}
.cssCopy {
  background-color: #131420;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directions {
  button {
    padding: 10px;
    background-color: #464852;
    border: 0;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
  }
}
