.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  @media screen and (max-width: 880px) {
    margin: 40px 0px;
  }
  .row {
    width: 430px;
    margin: 0px 50px;
    
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        -webkit-background-clip: text !important;
        background-clip: text !important;
        color: transparent;
        font-weight: 900;
        font-size: 4vw;
        letter-spacing: -1.2px;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        text-align: center;
        margin: 0;
        @media screen and (max-width: 783px) {
          font-size: 35px;
          margin-bottom: 10px;
        }
      }
      p {
        color: #1363df;
        margin: 0px;
        margin-bottom: 13px;

        font-size: 18px;
        font-weight: 600;
      }
      label {
        color: #1363df;
        font-weight: 600;
        text-align: center;
        margin: 10px;
      }
      .buttonsDirection {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          padding: 10px;
          background-color: #d0d4d8;
          border: 0;
          margin: 5px;
          border-radius: 12px;
          cursor: pointer;
          font-size: 17px;
          boxshadow: 10px 10px 38px #b2b8c9, -10px -10px 38px #f0f8ff;
          background: #f2f4f6;
          -webkit-box-shadow: 10px 10px 38px #b2b8c9, -10px -10px 38px #f0f8ff;
        }
      }
      .info {
        color: #a7a4a4;
        font-weight: 500;
      }
    }
    .cssCopy {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .textarea {
        width: 300px;
        height: 150px;
        color: #1363df;
        font-weight: 600;
        margin-top: 10px;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        font-size: 13px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      button {
        background-color: #096ffe;
        border: 0px;
        width: 300px;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
          border-end-end-radius: 12px;
          border-end-start-radius: 12px;
      }
      p {
        color: #a7a4a4;
        font-weight: 500;
        text-align: center;
        margin: 15px 0px;
        width: 320px;
      }
    }
  }
}
