.card {
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.05) ;
    z-index: 10;
    border: 1.7px solid #CBD6E1;
  }

  .info {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, #000000 0%, #000000 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease, color 0.4s ease;
  }

  &:hover .info,
  &:focus .info {
    background-size: 100% 100%;
    color: #fff;
  }

  .title {
    position: relative;
    display: inline-block;
  }

  .title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FF407D;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  &:hover .title::after,
  &:focus .title::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .imageContainer {
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  &:hover .imageContainer,
  &:focus .imageContainer {
    transform: scale(1.1) rotate(5deg);
  }
}
