.colorInput {
  width: 220px;
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
  input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input[type='color']::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  input[type='color']::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }
}
