.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #131420;
  @media screen and (max-width: 880px) {
    display: none;
  }

  video {
    border-radius: 12px;
    width: 63.5%;
    max-width: auto;
    height: auto;
    margin-top: 30px;
    @media screen and (max-width: 880px) {
      display: none;
    }
  }
}
