.directions {
  .label {
    color: #fff;
  }
  button {
    padding: 10px;
    background-color: #464852;
    border: 0;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
  }
}
