.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f2f4f6;

  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 100px;
    padding: 10px;
    background-color: #131420;
    border-radius: 12px;
  }
}
.background {
  background-image: url('/main.png');
  background-size: cover;
  @media screen and (max-width: 385px) {
    margin-top: 200px;
  }
}

.controls {
  background-color: #131420;
  padding: 20px;
  @media screen and (max-width: 840px) {
    padding: 10px;
  }
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
}

.slider {
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff !important;
}
.copy {
  background-color: #131420;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
