.sidebar {
  backdrop-filter: blur(0px);
  --webkit-backdrop-filter: blur(0px);
  --moz-backdrop-filter: blur(0px);
  background-color: #131420;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  .logo {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 50px;
    display: none;
  }

  .textLogo {
    h1 {
      background: linear-gradient(-80deg, #b23fe0, #ff00dd, #096ffe, #096ffe);
      background-size: 300%;
      font-weight: 900;
      font-size: 40px;
      letter-spacing: -3px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animated_text 10s ease-in-out infinite;
      -moz-animation: animated_text 10s ease-in-out infinite;
      -webkit-animation: animated_text 10s ease-in-out infinite;
      text-align: center;
      @keyframes animated_text {
        0% {
          background-position: 0px 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0px 50%;
        }
      }
    }
  }

  .links {
    height: 75vh;
    overflow-x: hidden;
  }

  .row {
    margin: 12px;
    padding: 20px;
    position: relative;
    cursor: pointer;

    .text {
      width: 100%;
      border-radius: 4px;
      position: absolute;
      bottom: 0;
      background-color: #232634;
      left: 0;
      display: flex;
      justify-content: center;
      color: #fff;
      padding: 10px;
    }
  }

  .link {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    text-align: center;
  }
  .footer {
    bottom: 0;
    position: fixed;
    width: 300px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    span {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .sidebar {
    display: none;
  }
}
