.tooltipWrapper {
  position: relative;
  display: flex;
  cursor: pointer;

  .tooltip {
    visibility: visible;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 125%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    
  }
}
