.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    li {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: rgb(167, 164, 164);
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
      :hover {
        color: #096ffe;
      }
    }
  }

  .logo {
    display: block;
    float: left;
    text-decoration: none;
    margin-top: 10px;
    h1 {
      background: linear-gradient(-80deg,  #096ffe, #096ffe, #b23fe0, #ff00dd);
      background-size: 300%;
      font-weight: 900;
      font-size: 30px;
      letter-spacing: -1.2px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animated_text 10s ease-in-out infinite;
      -moz-animation: animated_text 10s ease-in-out infinite;
      -webkit-animation: animated_text 10s ease-in-out infinite;
      margin: 0;
      @keyframes animated_text {
        0% {
          background-position: 0px 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0px 50%;
        }
      }
    }
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .menuIcon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 32px 20px;
    position: relative;
    user-select: none;
    .navicon {
      background: #096ffe;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;
      &:before {
        background: #096ffe;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: 5px;
      }
      &:after {
        background: #096ffe;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: -5px;
      }
    }
  }
  .menuBtn {
    display: none;
    &:checked {
      ~ {
        .menu {
          max-height: 300px;
        }
        .menuIcon {
          .navicon {
            background: transparent;
            &:before {
              transform: rotate(-45deg);
            }
            &:after {
              transform: rotate(45deg);
            }
          }
          &:not(.steps) {
            .navicon {
              &:before {
                top: 0;
              }
              &:after {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
.logo {
  img {
    width: 150px;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    display: block !important;
    li {
      margin: 20px;
    }
  }
  .logo {
    img {
      width: 100px;
    }
  }
  .download-btn {
    display: none;
  }
}

@media only screen and (max-width: 1320px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 27px;
        color: rgb(167, 164, 164);
        a {
          padding: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 27px;
        color: rgb(167, 164, 164);
        a {
          padding: 15px;
        }
      }
    }
  }
}

@media (min-width: 48em) {
  .header {
    li {
      float: left;
      a {
        padding: 20px 30px;
      }
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
      display: flex;
      align-items: center;
    }
    .menuIcon {
      display: none;
    }
  }
}
