@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F2F4F6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Euclid Circular A', sans-serif;
                                                
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 10% 90%;
}

textarea::-webkit-scrollbar {
  width: 1em;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #0F54B4;
}

textarea {
  border: 0;
  outline: none;
}
